* {
    margin: 0;
  }

.grid {
    display: grid;
    grid-template-columns: 0.5fr 0.3fr 0.2fr;
    grid-template-rows: 0.4fr 0.2fr 0.4fr;
    height: 50vh;
  }
  
.about {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #4D42DC;
    color: white;
    font: 25px;
    font-family: 'Playfair Display', serif;
    font-style: bold;
  }
  

  .about a {
    color: white;
    text-decoration: none;
    font-style: bold;
  }
  
  .about:hover {
    background-color: #00D8F2; 
    font-size: 40px;
    font-style: bold;
  }
    
  .resume {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background-color: #F887EE;
    color: white;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    font-style: bold;
  }
  
  .resume a {
    color: white;
    text-decoration: none;
    font-style: bold;
  }
  
  .resume:hover {
    background-color: #00D8F2;
    font-size: 30px;
    font-style: bold;
  }
  
  .contact {
    grid-column: 1 / 2;
    grid-row:  2 / 4;
    background-color: #CBBAFB;
    color: white;
    font-family: 'Playfair Display', serif;
    font-style: bold;
  }
  
  .contact a {
    font-size: 15px;
    font-style: bold;
    color: white;
    text-decoration: none;
    font-style: bold;
  }
  
  .contact:hover {
    background-color: #00D8F2;
    font-size: 60px;
    font-style: bold;
  }
  
  .photo {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("selfie.png");
  }
  
  .extra-box {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #4D42DC;
  }
  
  .icons {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f887ee;
  }
  
  .icons:hover {
    color: #00D8F2;
  
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (min-width: 501px) {
    .container {
      max-width: 500px;
      margin: 0 auto;
    }
  
    .grid {
      margin: 40px 0px;
      height: 80vh;
    }
  
   .header {
     color:#4D42DC;
     padding-top: 30px;
     min-height: 70px;
   }
  
    .main-nav {
      float: right;
      list-style: none;
      margin-top: 30px;
  }
    .main-nav li {
      display: inline-block;
      text-decoration: none;
      padding: 5px 20px;
      font-family: 'Playfair Display, serif';
    }
    
    h1.heading {
      
      font-size: 48px;
      line-height: 60px;
      align-self: auto;
      width: 317px;
      height: 63px;
      left: 21px;
      top: 10px;
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 48px;
      text-align: center;
  }
  
    .my-name {
      position: absolute;
      width: 317px;
      height: 63px;
      left: 46px;
      top: 122px;
  
      font-family: Playfair Display;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 48px;
      text-align: center;
      margin: 0 auto;
  }
  
  .description {
      position: relative;
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 14px;
      text-align: center;
  
  color: #000000;
  }

  .resume-description {
    font-family: 'Playfair Display';
    font-style: normal;
  }